<div class="card">
  <div class="card-body">
    <h2 class="card-title">Contato</h2>
    <p class="card-text">
      Entre em contato com <a href="http://www.twitter.com/brunojppb">@brunojppb</a> para saber mais.
    </p>
  </div>
</div>