<div class="card">
  <div class="card-body">
    <h2 class="card-title">Contact List</h2>
    <p class="card-text">
      Gerencie seus contatos em qualquer lugar!
    </p>
    <p>
      <a href="#" class="btn btn-primary">Crie sua conta!</a>
    </p>
  </div>
</div>
