<div class="card">
  <div class="card-body">
    <h2 class="card-title">Sobre</h2>
    <p class="card-text">
      Criado com o intuito de ensinar um pouco sobre o Framework Ruby on Rails, Contact List mostrará como aprender as peças que formam essa ferramenta tão poderosa.
    </p>
  </div>
</div>