// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$gray-medium-light: #EAEAEA;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

.post-card {
  display: inline-block;
}

.post-legenda {
  display: inline-block;
  font-size: 10px;
  color: $gray-500;
}

.caption {
  .legenda {
    padding-top: 5px;
    text-align: center;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-600;
  a {
    color: $gray-700;
    text-decoration: none;
    /*It means: that a:hover */
    &:hover{
      color: $gray-900;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}