<footer>
  <small>
    <p class="lead">
      <%= link_to 'Contact List', root_path %>. Todos os direitos reservados.
    </p>
  </small>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <%= link_to 'Sobre', '#', class:'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Contato', '#', class:'nav-link' %>
    </li>
  </ul>
</footer>